:is(#atfp-modal-open-warning-wrapper, #atfp-setting-modal, #atfp_strings_model) .modal-container {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:is(#atfp-modal-open-warning-wrapper, #atfp-setting-modal) .modal-content {
    position: relative;
    background-color: #fefefe;
    width: clamp(200px, 400px, 80%);
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetopsetting;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
    animation-name: animatetopsetting;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    padding-block: 16px;
    color: black;
}

#atfp-modal-open-warning-wrapper .modal-content {
    padding: 16px;
    text-align: center;
}

#atfp-modal-open-warning-wrapper .modal-content p {
    font-size: 19.2px;
    font-weight: 500;
}

#atfp-modal-open-warning-wrapper .modal-content button {
    font-size: 16px;
    font-weight: 500;
    padding: 4.8px 8px;
    margin-inline: 4.8px;
    cursor: pointer;
    opacity: 0.8;
}

#atfp-modal-open-warning-wrapper .modal-content button:hover {
    opacity: 1;
}

#atfp-modal-open-warning-wrapper .modal-content button:nth-child(1) {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#atfp-modal-open-warning-wrapper .modal-content button:nth-child(2) {
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* Setting Modal CSS Start */
#atfp-setting-modal .atfp-error-modal-box-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    z-index: 99999;
}

#atfp-setting-modal .atfp-error-modal-box{
    background-color: #fefefe;
    width: clamp(200px, 500px, 80%);
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#atfp-setting-modal .atfp-error-modal-box-header{
    position: relative;
}   

#atfp-setting-modal .atfp-error-modal-box-header h3{
    height: unset;
    padding: 8px 36px 8px 25px;
    border: none;
    background: 0 0;
    border-bottom: 1px solid #dcdcde;
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    margin: 0;
    color: black;
}   

#atfp-setting-modal .atfp-error-modal-box-header .atfp-error-modal-box-close{
    right: 15px;
    top: 13px;
    border-radius: 0!important;
    height: 30px!important;
    width: 20px!important;
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    color: #646970;
    cursor: pointer;
}

#atfp-setting-modal .atfp-error-modal-box-body h4{
    margin: 0;
    margin-top: 0;
    margin-bottom: 24px;
    display: block;
    font-weight: 600;
    padding: 0;
    box-sizing: border-box;
}

#atfp-setting-modal .atfp-error-modal-box-body ol{
    margin-top: 0;
    margin-bottom: 24px;
    list-style-type: decimal;
    margin-left: 32px;
    box-sizing: border-box;
    padding: 0;
}

#atfp-setting-modal .atfp-error-modal-box-body ol li{
    margin-bottom: 6px;
    list-style: decimal;
}

#atfp-setting-modal .atfp-error-modal-box-body p{
    margin: 0;
    padding: 0;
}

#atfp-setting-modal .atfp-error-modal-box-body p *{
    color:  red !important;
    font-size: 16px;
    box-shadow: unset;
    outline: unset;
    border: unset;
    line-height: 1.5;
}

#atfp-setting-modal .atfp-error-modal-box-body p a{
    color: #2271b1 !important;
    text-decoration: underline;
}

#atfp-setting-modal .atfp-error-modal-box-body button.atfpp-error-reload-btn{
    background: #0073aa;
    color: #fff !important;
    border: none;
    border-radius: 4px;
    padding: 4px 9px;
    cursor: pointer;
}

button.atfpp-error-reload-btn:hover{
    background: #005682 !important;
}

#atfp-setting-modal .atfp-error-modal-box-body{
    min-height: 0px;
    max-height: 65vh;
    height: auto;
    padding: 22px;
    overflow: auto;
    padding-top: 11px;
}

#atfp-setting-modal .atfp-error-modal-box-footer{
    background: 0 0;
    border: none;
    border-top: 1px solid #dcdcde;
    margin-top: 0;
    padding: 10px 22.4px 10px 16px;
    text-align: end;
    margin-right: 6.4px;
}

#atfp-setting-modal .atfp-error-modal-box-footer .atfp-error-modal-box-close{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2;
    height: 28px;
    margin: 12px 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #50575e;
    border-color: #c3c4c7;
    background: #f6f7f7;
    box-shadow: 0 1px 0 #c3c4c7;
    vertical-align: top;
}

#atfp-setting-modal .modal-content {
    width: fit-content;
    border-radius: 0px;
    padding: 0px;
    max-width: 80%;
}

#atfp-setting-modal .atfp-error-message {
     margin: 4.8px 0 12.8px 0 !important;
     padding: 8px;
     font-weight: 500;
     font-size: 13px;
     line-height: 1.2;
     color: red;
}

#atfp-setting-modal .modal-header h2 {
    height: unset;
    padding: 8px 36px 8px 25px;
    border: none;
    background: 0 0;
    border-bottom: 1px solid #dcdcde;
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    margin: 0;
}

#atfp-setting-modal .modal-header span.close {
    right: 15px;
    top: 13px;
    border-radius: 0!important;
    height: 30px!important;
    width: 20px!important;
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    color: #646970;
    cursor: pointer;
}

#atfp-setting-modal .atfp-setting-modal-body {
    min-height: 0px;
    max-height: none;
    height: auto;
    padding: 22px;
    overflow: auto;
    padding-top: 11px;
}

#atfp-setting-modal .atfp-setting-modal-body .atfp-setting-modal-notice-wrapper *{
    padding: 0;
    margin: 0;
}

#atfp-setting-modal .atfp-translator-row {
    display: flex;
    gap: 21.3px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-column {
    border: 1px solid #dcdcde;
    border-radius: 10px;
    padding: 10px 19px 30px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}


#atfp-setting-modal .atfp-translator-row .atfp-translator-column:hover {
    background-color: #73e97338;
    border-color: #73e9734f;
}

#atfp-setting-modal .atfp-translator-row:has(> :nth-child(1)) .atfp-translator-column {
    width: 100%;
}

#atfp-setting-modal .atfp-translator-row:has(> :nth-child(2)) .atfp-translator-column {
    width: calc(50% - (21.3px / 2));
}

#atfp-setting-modal .atfp-translator-row:has(> :nth-child(3)) .atfp-translator-column {
    width: calc(33% - (24.8px / 3));
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-header {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    margin-bottom: 10px;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-header svg{
    width: 18px;
    height: 18px;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-body strong{
    margin-bottom: 10px;
    display: inline-block;
    color: #000;
    font-size: 16px;
    line-height: 22.4px;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-body a{
    box-shadow: unset;
    outline: unset;
    border: unset;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-body img{
    margin-top: 5px;
    height: 21px;
    width: auto;
    margin-bottom: 10px;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-body .atfp-service-btn{
    display: inline-block;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    white-space: nowrap;
    box-sizing: border-box;
    background: #4664eb;
    border-radius: 5px;
    font-family: inherit;
    font-size: 13px;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-body .atfp-translator-beta-btn{
    background: green;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    padding: 4px 6px;
    border-radius: 3px;
    display: inline-block;
    margin: 2px 0 2px 10px;
}

#atfp-setting-modal .atfp-translator-service-btn:disabled{
    color: #a7aaad!important;
    background: #f6f7f7!important;
    border-color: #d6d6d6!important;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 13px;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-footer{
    text-align: center;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-footer .atfp-error-message{
    max-width: 100%;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-footer .atfp-localai-disabled-message{
    display: inline-block;
    line-height: 1.4;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    white-space: wrap;
    box-sizing: border-box;
    background: #ff2d2d;
    border-radius: 5px;
    font-family: inherit;
    font-size: 13px;
    border-color: red;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    margin-top: 8px;
    transition: background 0.3s ease;
}

#atfp-setting-modal .atfp-translator-row .atfp-translator-footer .atfp-localai-disabled-message:hover{
    background: red;
}

#atfp-setting-modal .modal-footer {
    background: 0 0;
    border: none;
    border-top: 1px solid #dcdcde;
    margin-top: 0;
    padding: 16px;
    text-align: end;
    margin-right: 6.4px;
}

#atfp-setting-modal .modal-footer .atfp-setting-close{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #50575e;
    border-color: #c3c4c7;
    background: #f6f7f7;
    box-shadow: 0 1px 0 #c3c4c7;
    vertical-align: top;
}

/* Setting Modal CSS End */

#atfp_strings_model .atfp-notice {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    padding: 4.8px;
    margin-top: 8px;
}

#atfp_strings_model .atfp-notice p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#atfp_strings_model .atfp-notice-info {
    border-left-color: #72aee6;
}

#atfp_strings_model .atfp-notice-warning {
    border-left-color: #f0ad4e;
}

#atfp_strings_model .atfp-notice-error {
    border-left-color: #d9534f;
}

#atfp_strings_model .atfp-notice-success {
    border-left-color: #5cb85c;
}

#atfp_strings_model .modal-content {
    position: relative;
    background-color: #fefefe;
    width: 80%;
    height: calc(100% - 40px);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animatetopsetting {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes animatetopsetting {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* 
#atfp-setting-modal .modal-header * {
    margin-bottom: 16px;
}

#atfp-setting-modal .modal-header h2 {
    font-size: 1.16px;
    font-weight: 700;
    color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

#atfp-setting-modal .modal-header h4 {
    background-color: #f1f1f1;
    margin: 0;
    padding: 8px;
    margin-bottom: 0px;
    color: black;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
}

#atfp-setting-modal .modal-header .atfp-error-message {
    background-color: #f1f1f1;
    margin: 8px 0 8px 0;
    padding: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
}

#atfp-setting-modal .modal-content>*:not(hr) {
    padding: 0;
    padding-inline: 16px;
    margin: 0;
}

#atfp-setting-modal .modal-content .atlt-heading{
    font-size: 13px;
    line-height: 1.1;
    font-weight: 600;
    padding: 0;
    padding-inline: 16px;
    margin: 0;
}

#atfp-setting-modal .modal-content .inputGroup{
    margin: 0;
    padding: 0;
    padding-inline: 16px;
}

#atfp-setting-modal .modal-content .inputGroup a{
    display: block;
    padding: 0;
    margin: 0;
    line-height: 1;
}

#atfp-setting-modal .modal-content .inputGroup a:hover,
#atfp-setting-modal .modal-content .inputGroup a:focus,
#atfp-setting-modal .modal-content .inputGroup a:active,
#atfp-setting-modal .modal-content .inputGroup a:focus-visible,
#atfp-setting-modal .modal-content .inputGroup a:focus-within{
    box-shadow: none;
    border: 0;
    outline: 0;
}

#atfp-setting-modal .modal-content ul{
    margin: 0;
    padding: 0;
    padding-inline: 16px;
}

#atfp-setting-modal .modal-content ul li{
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: black;
    line-height: 2;
}

#atfp-setting-modal .modal-content ul li a{
    color: #2271b1;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
    text-decoration: underline;
}

#atfp-setting-modal .modal-content ul li a:hover{
    color: #135e96;
}

#atfp-setting-modal .modal-content .atfp-service-btn {
    margin-block: 4.8px;
    background-color: #2271b1;
    color: white;
    border: none;
    padding: 7px 11px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
    min-height: unset;
    font-family: inherit;
}

#atfp-setting-modal .modal-content .atfp-service-btn[disabled] {
    margin: 0;
    margin-block: 4.8px;
    color: #a7aaad !important;
    background: #f6f7f7 !important;
    border-color: #dcdcde !important;
    border: none;
    padding: 7px 11px;
    border-radius: 4px;
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: default;
}

#atfp-setting-modal .modal-content .atfp-error-message {
    color: red;
} */

#atfp_strings_model .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    height: 86px;
    max-height: 86px;
    overflow: hidden;
    position: relative;
}

#atfp_strings_model .modal-header h2 {
    display: inline-block;
    font-size: 18px;
    color: white;
    padding: 0;
    margin: 18px 159px 5px 0px;
    width: calc(100% - 160px);
}

/* The Close Button */

button.atfp-setting-close {
    margin-top: 14.4px;
    font-weight: 500;
    font-size: 16px;
    padding: 4.8px 6.4px;
    cursor: pointer;
    opacity: 0.7;
    background: #f4f4f4;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    line-height: 1;
    color: black;
}

button.atfp-setting-close:hover {
    opacity: 1;
}

/* #atfp-setting-modal hr{
    border: 0;
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #f6f7f7;
    margin-bottom: 0px;
    margin-top: 0px;
}

#atfp-setting-modal .modal-header .close {
    color: #5f5f5f;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 10px;
}

body.rtl #atfp-setting-modal .modal-header .close {
    right: auto;
    left: 16px;
}

#atfp-setting-modal .modal-footer {
    text-align: end;
}

#atfp-setting-modal .modal-header .close:hover,
#atfp-setting-modal .modal-header .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */

#atfp_strings_model .modal-header .close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 18px;
    line-height: 24px;
}

#atfp_strings_model .modal-header .close:hover,
#atfp_strings_model .modal-header .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#atfp_strings_model .save_btn_cont {
    margin: 8px;
    position: absolute;
    top: 10px;
    right: 40px;
}

#atfp_strings_model .save_btn_cont button:not([disabled]):before {
    font-family: dashicons;
    content: "\f345";
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    vertical-align: middle;
    left: -20px;
    position: absolute;
    color: #fff;
    animation: moveit 5s infinite;
    -webkit-animation: moveit 1s infinite;
}


.local_ai_translator_btn.button-primary {
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: inherit;
}

.local_ai_translator_btn.button-primary[disabled] {
    color: #a7aaad !important;
    background: #f6f7f7 !important;
    border-color: #dcdcde !important;
    text-decoration: none;
    text-shadow: none;
    border: none;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    min-width: 190px;
    border-radius: 2px;
    cursor: default;
}

@keyframes moveit {
    from {
        left: -22px;
    }

    to {
        left: -10px;
    }
}

#atfp_strings_model .ytstats {
    padding: 0;
    margin: 5px 160px 5px 0;
    width: calc(100% - 160px);
}

#atfp_strings_model .ytstats a {
    color: #fff936;
}

#atfp_strings_model .modal-body {
    padding: 2px 16px;
    position: relative;
}

#atfp_strings_model .notice-dismiss {
    padding: 0;
}

#atfp_strings_model h3 {
    width: 100%;
    display: inline-block;
    font-size: 22px;
    padding: 0;
    margin: 20px 0 10px;
    color: #5cb85c;
}

#translate_element {
    margin-bottom: 25px;
}

#atfp_strings_model .atfp_string_container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 330px - var(--atfp-notice-wrapper-height, 0px));
    width: 100%;
    position: relative;
    color: #3c3c3c;
}

#atfp_strings_model .atfp_string_container.atfp_empty_string {
    max-height: calc(100vh - 196px - var(--atfp-notice-wrapper-height, 0px));
    display: flex;
    align-items: center;
}

#atfp_strings_model .atfp_string_container.atfp_empty_string p {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: #5cb85c;
    background: whitesmoke;
    padding: 16px;
}

#atfp_strings_model .modal-footer {
    display: flex;
    align-items: center;
}

#atfp_strings_model .modal-footer .notice.atfp_string_count {
    display: block;
    max-width: calc(100% - 165px) !important;
}

#atfp_strings_model .modal-footer .notice.atfp_string_count a{
    white-space: nowrap;
}

#atfp_strings_model .notice.atfp_string_count {
    top: unset;
    left: unset;
    font-size: 16px;
    background: transparent;
    border-width: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#atfp_strings_model .modal-footer .notice.atfp_string_count p {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 16px;
}

#atfp_strings_model table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    padding: 0;
    margin: 0;
}

#atfp_strings_model table td:first-child,
#atfp_strings_model table th:first-child {
    width: 60px;
    text-align: center;
}

#atfp_strings_model table td,
#atfp_strings_model table th {
    border: 1px solid #ddd;
    padding: 4px;
    height: 26px;
    text-align: left;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    vertical-align: middle;
}

#atfp_strings_model .atfp_translate_progress {
    position: absolute;
    display: none;
    top: 0;
    left: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: calc(100% - 22px);
    border-radius: 3px;
    height: 100%;
    z-index: 9;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    height: calc(100vh - 40px - 86px - 66px);
}

#atfp_strings_model .atfp_translate_element_wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 8px;
}

#atfp_strings_model .atfp_translate_element_wrapper>button {
    height: 34px;
    pointer-events: none;
}

#atfp_strings_model .atfp_translate_element_wrapper #yt-widget .yt-wrapper_align_right {
    margin-bottom: 16px;
}

#atfp_strings_model .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    position: absolute;
    /* width: calc(100% - 32px); */
    width: 100%;
    bottom: 0;
    height: 66px;
    max-height: 66px;
    box-sizing: border-box;
}

#yt-widget .yt-listbox__input:not(:checked)~.yt-listbox__text {
    display: none !important;
}

/* error message css start */
#atfp_strings_model.atfp_fetch_error .atfp_string_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#atfp_strings_model.atfp_fetch_error :where(.save_btn_cont, table#stringTemplate) {
    display: none;
}

#atfp_strings_model.atfp_fetch_error span.atfp_string_error_msg {
    color: red;
    font-size: 24px;
    padding: 32px;
}

body>div.skiptranslate iframe.skiptranslate[frameborder][src][style="visibility:visible"] {
    visibility: hidden !important;
}

/* meta box review notice style start */
.atfp-review-meta-box {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1882352941);
    padding: 10px 0px !important;
    border-radius: 5px !important;
}

.atfp-review-meta-box p {
    margin: 0px;
}

.atfp-review-meta-box p a {
    margin-top: 8px;
}

.atfp-review-meta-box p a span {
    color: #ffb900 !important;
    margin-left: 5px;
}

/* Skeleton Shimmer Animation */
.atfp-loader-skeleton {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #e0e0e0;
    /* Light gray background */
    border-radius: 4px;
    /* Rounded corners */
    top: 0;
    left: 0;
    opacity: 0.9;
}

.atfp-loader-skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.2) 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

/* meta box review notice style end */

/* Chrome AI Translator Widget */
/* #atfp-setting-modal .inputGroup #local_ai_translator_btn ~ a{
    margin-top: .32px 0 4.8px;
    text-decoration: none;
    font-size: 1.16px;
    display: inline-flex;
    color: #000;
    font-weight: 600;
    align-items: center;
}

#atfp-setting-modal .inputGroup #local_ai_translator_btn ~ a img{
    width: 28px;
    margin: 0 2px;
} */

#atfp-localAiTranslator-strings-modal .translator-widget {
    justify-content: space-between;
    align-items: center;
}

#atfp_strings_model #atfp-localAiTranslator-strings-modal h3 {
    margin: 20px 0px;
}

#atfp_strings_model #atfp-localAiTranslator-strings-modal .atfp_string_container {
    max-height: calc(100vh - 270px - var(--atfp-notice-wrapper-height, 0px));
    box-shadow: 0 -1px 4px #0000005e inset;
}

#atfp_strings_model .react-loading-skeleton-atfp {
    height: calc(100vh - 235px - var(--atfp-notice-wrapper-height, 0px)) !important;
    margin-block: 16px;
}


#atfp-pro-notice-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 16px;
    color: black;
}

#atfp-pro-notice-wrapper.atfp-active {
    opacity: 1;
}

#atfp-pro-notice-wrapper .atfp-pro-notice {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-header {
    background-color: #f3f3f3;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14.4px 10px;
    border-bottom: 1px solid black;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-header h2 {
    margin: 0px !important;
    padding: 0px !important;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-header .atfp-close-button {
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
    background: transparent;
    box-shadow: unset;
    border: 0px;
    color: black;
    display: inline-flex;
    line-height: 1;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-content {
    margin: 10px;
    font-size: 16px;
    color: #3c3c3c;
    line-height: 18px;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-content p {
    font-size: 16px;
    line-height: 18px;
    margin: 0px !important;
    padding: 0px !important;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-footer {
    background-color: #f3f3f3;
    padding: 10px;
    border-top: 1px solid black;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-footer .atfp-upgrade-button {
    background-color: #F0ABFC;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

#atfp-pro-notice-wrapper .atfp-pro-notice .atfp-notice-footer .atfp-upgrade-button:hover {
    background-color: #f09dff;
    /* Darker shade on hover */
}

/* Tooltip element */
#atfp-setting-modal .atfp-tooltip-element {
    position: relative;
    overflow: visible;
    cursor: pointer;
    white-space: nowrap;
}
  
  #atfp-setting-modal .atfp-tooltip-element .atfp-tooltip {
    display: block;
    font-size: 12.8px;
    position: absolute;
    background: #5cb85c;
    color: #fff !important;
    padding: 3.2px 8px;
    border-radius: 4px;
    top: 0;
    left: 20px;
    right: 20px;
    margin: auto;
    opacity: 0;
    width: 121px;
    white-space: nowrap;
  }

  #atfp-setting-modal .atfp-tooltip-element .atfp-tooltip.atfp-tooltip-active {
    -webkit-animation: slide-up 0.15s cubic-bezier(0.51, 0.92, 0.265, 1.55) both;
    animation: slide-up 0.15s cubic-bezier(0.51, 0.92, 0.265, 1.55) both;
  }

  #atfp-setting-modal .atfp-tooltip-element .atfp-tooltip:after {
    content: "";
    position: absolute;
    top: 98%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #5cb85c;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  
  @-webkit-keyframes slide-up {
    0% {
      transform: translateY(0) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateY(-35px) scale(1);
      opacity: 1;
    }
  }
  @keyframes slide-up {
    0% {
      transform: translateY(0) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateY(-35px) scale(1);
      opacity: 1;
    }
  }

@media screen and (max-width: 767px) and (min-width: 567px){
    #atfp-setting-modal .atfp-translator-row .atfp-translator-column{
        width: 100% !important;
    }

    #atfp-setting-modal .atfp-translator-row:has(> :nth-child(2)) .atfp-translator-column{
        width: calc(50% - (21.3px / 2)) !important;
    }
}

@media screen and (max-width: 567px){
    #atfp-setting-modal .atfp-translator-row .atfp-translator-column{
        width: 100% !important;
    }
}